@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4">
            
            <h1>Todo Manager</h1>
            
            <form class="well form-search">
                <input type="text" style="width:300px;" class="input-medium search-query" placeholder="task name">
                <a href="#" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add New Todo</a> 
            </form>

            <table class="table">
                <thead>
                    <th>Done</th>
                    <th>Description</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" ></td>
                        <td>test123</td>
                        <td><a href="#" class="btn">Delete</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>