@{
    ViewBag.Title = "Index";
}
<style>
    .done {
        text-decoration: line-through;
    }
</style>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4">
            
            <h1>Todo Manager</h1>
            
            <form class="well form-search" data-bind="with: tempTodo">
                <input type="text" style="width:300px;" class="input-medium search-query" placeholder="task name" data-bind="value: Description">
                <a href="#" class="btn btn-primary" data-bind="click: $parent.addTodo"><i class="icon-plus icon-white"></i> Add New Todo</a> 
            </form>

            <table class="table">
                <thead>
                    <th>Done</th>
                    <th>Description</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody data-bind="foreach: todos">
                    <tr>
                        <td><input type="checkbox" data-bind="checked: Done, click: $parent.saveTodo" ></td>
                        <td data-bind="text: Description, css: { done: Done() }"></td>
                        <td><a href="#" class="btn" data-bind="click: $parent.deleteTodo">Delete</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>