<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.6.2.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-2.0.0.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
